{% extends 'Attendance/base.html'%}

{% block content %}

<div class="container">
          
  <table class="table">
    <thead>
      <tr>
        <th> S.No </th>
        <th>Roll</th>
        <th>Name</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>

{% for each in data %}


      <tr>
        <td> {{ forloop.counter }}
        <td>{{ each.stuid }}</td>
        <td>{{ each.stuname }}</td>
        <td>{{ each.stumail }}</td>
      </tr>
 {% endfor %}

    </tbody>
  </table>

</div>
  
{% endblock %}