{% extends 'Attendance/base.html'%}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">

{% for each_post in posts %}


<div class="alert alert-info">

  <strong><h2> <img src="{{ each_post.author.profile.image.url }}"  class="img-circle" width="100px" height="100px"> {{ each_post.title }}</h2></strong> 
</div>

<h4> by   <a href="{%url 'profile_user'  each_post.author.id%}"> {{ each_post.author }} </a> on {{ each_post.date1 }} </h4>

 <br>
 <p> {{each_post.content|truncatewords:50|linebreaks}} </p>
<a href="{% url 'sp_post' each_post.id %}">Read More </a>

{% endfor %}

<div class='pagination justify-content-center'>
{% if posts.has_previous %}
<a href="{% url 'pages' posts.previous_page_number %}"> Previous </a> 
{% endif %}

Page {{ posts.number }} of {{ posts.paginator.num_pages }}


{% if posts.has_next %}
<a href="{% url 'pages' posts.next_page_number %}"> Next </a> 
{% endif %}




  </div>

</div>
  
{% endblock %}