{% extends 'Attendance/base.html'%}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">

{% if post1.author == user %}

<a class="btn btn-primary"  href="{% url 'post-update' post1.id%}">Update</a></button>
<a class="btn btn-danger"  href="{% url 'post-delete' post1.id%}">Delete</a></button>
{% endif %}

<div class="alert alert-info">

  <strong><h2><img src="{{ post1.author.profile.image.url }}"  class="img-circle" width="100px" height="100px"> {{ post1.title }}</h2></strong> 
</div>

<h4> by {{ post1.author }} on {{ post1.date1 }} </h4>
 <br>
 <p> {{post1.content}} </p>

{% for comment in post1.comment.all %}

{{comment.create_date }} by {{ comment.author }}
<p> {{ comment.content }}</p>
{% endfor %}

 <a class="btn btn-primary"  href="{% url 'post-comment' post1.id%}">Post Comment</a></button>



</div>
  
{% endblock %}